# .readthedocs.yml
# Read the Docs configuration file
# See https://docs.readthedocs.io/en/stable/config-file/v2.html for details

# Required
version: 2

# Set the version of Python and other tools you might need
build:
  jobs:
    post_build:
      - make docs-mypy
      - make docs-coverage
    post_checkout:
      - git fetch --unshallow || true
    post_install:
      - make dev-docs
    pre_build:
      - make changelog
  os: ubuntu-22.04
  tools:
    python: '{{ default_py }}'

# Build documentation in the docs/ directory with Sphinx
sphinx:
  fail_on_warning: true
