[% from pathjoin("includes", "variable.jinja") import repo_url with context -%]
[% from pathjoin("includes", "variable.jinja") import page_url with context -%]

site_name: {{ project_name }}
site_description: {{ project_description }}
site_url: https://{{ page_url() }}
repo_url: https://{{ repo_url() }}
repo_name: {{ repo_namespace }}/{{ repo_name }}
copyright: Copyright &copy; {{ copyright_date }} {{ copyright_holder }}
edit_uri: edit/{{ default_branch }}
docs_dir: '.'

exclude_docs: |
  docs/includes

theme:
  name: material

  features:
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.footer
    - navigation.instant
    - navigation.path
    - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - toc.follow
    # - toc.integrate
    - content.tooltips

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  languages: en

  icon:
    logo: material/book-open-page-variant
    repo: fontawesome/brands/gitlab

extra:
  generator: false

extra_css:
  - docs/css/mkdocstrings.css

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.tasklist
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.snippets:
      check_paths: true
      auto_append:
        - docs/includes/abbreviations.md
  - toc:
      permalink: "¤"

plugins:
  - search
  - same-dir
  - coverage
  - git-revision-date-localized:
      fallback_to_build_date: true
      enable_creation_date: true
      type: date
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
        options:
          docstring_options:
            ignore_init_summary: true
          docstring_section_style: list
          filters: ["!^_"]
          heading_level: 1
          inherited_members: true
          merge_init_into_class: true
          separate_signature: true
          show_root_heading: true
          show_root_full_path: false
          show_signature_annotations: true
          signature_crossrefs: true
          summary: true

watch:
  - src/gen_project
  - README.md
  - LICENSE
  - docs
  - mkdocs.yml

nav:
  - Home:
    - Overview: README.md
    - License: docs/LICENSE.md
  - Usage:
    - Usage: docs/usage.md
    - Troubleshooting: docs/troubleshooting.md
  - API reference:
    - settings: docs/api/settings.md
  - Development:
    - Contributing: CONTRIBUTING.md
    - Coverage report: coverage.md
